.search {
  width: 80%;
  position: relative;
  display: flex;
}

.title{
  color: #fff;
  font-weight: bolder;
  text-align: center;
  margin-top: 15px;
}

.searchTerm {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

.wrap {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
